
<mat-card class="card-movimentacao">
    <mat-card-header>
        <mat-card-title>Extrato de Movimentações</mat-card-title>
        <mat-card-subtitle>Carregue um arquivo CNAB para processar novos dados</mat-card-subtitle>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="file-cnab">
            <mat-card-subtitle>Carregue um arquivo CNAB para processar novos dados</mat-card-subtitle>
            <input type="file"  accept="text/plain"  (change)="carregarArquivoEvent($event)" name="file">
            <button mat-button color="primary" (click)="enviarArquivo()">Enviar Arquivos</button>
        </div>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>
        <br>
        <app-tabela  (paginacaoEventEmitter)="paginacaoEvent($event)"></app-tabela>
    </mat-card-content>
</mat-card>